header {
    align-self:center;
}

h1 {
    align-self: center;
}

.admin-page {
    background-color: #d3d3d3;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      height: 30vh;
}
.row {
    height:fit-content;
    display: grid;
    grid-gap: 5ch;
    height: fit-content;
    grid-template-columns: [head-col-start] 300px [content-col-start] 300px [content-col-mid] 300px [head-col-end];
    grid-template-rows: [head-row-start] auto [head-row-end] [content-row-end]  [footer-row-end];
}

.guestcolumn {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    height: 560px;
    width: 405px;
    margin: auto;
    padding: 60px 60px;
    background: linear-gradient(-45deg, #92371b, #5f0729, #0d4a61, #0a6852);
    background-size: 400% 400%;
      animation: gradient 13s ease infinite;
      height: 50vh; 
}